@charset "utf-8";
p {
    width: 1280px;
    font-family: aladin;
    font-style: oblique;
    font-weight: 500;
    display: table-cell;
    clear: right;
    text-align: center;
    text-indent: 325px;
}
.content h2 {
    font-size: 50px;
    font-family: aladin;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    border-style: outset;
    border-color: rgba(29,154,67,1.00);
    background-color: rgba(172,219,245,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(89,189,227,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(89,189,227,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(89,189,227,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(89,189,227,1.00) 100%);
}
.textheadings {
    float: none;
    font-size: 50px;

}
.textitems {
    margin-left: 25px;

}

.Textbody {

}


.content h3 {
    font-size: xx-large;
    text-align: left;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    list-style-position: inside;
    float: left;
    font-family: aladin;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(158,223,247,1.00);
    border-bottom-color: rgba(82,189,108,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(176,214,228,1.00) 0%,rgba(89,189,227,1.00) 97.93%,rgba(181,231,193,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(176,214,228,1.00) 0%,rgba(89,189,227,1.00) 97.93%,rgba(181,231,193,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(176,214,228,1.00) 0%,rgba(89,189,227,1.00) 97.93%,rgba(181,231,193,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(176,214,228,1.00) 0%,rgba(89,189,227,1.00) 97.93%,rgba(181,231,193,1.00) 100%);
}
.content img {
    left: 500px;
    right: 500px;
    display: run-in;
}
.bodyimg {
    float: none;
    clear: none;
    border-style: none;
    border-bottom-color: rgba(82,189,108,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(252,255,188,1.00) 0%,rgba(255,221,136,1.00) 39.03%,rgba(237,192,76,1.00) 61.31%,rgba(255,204,72,1.00) 78.41%,rgba(227,167,85,1.00) 97.24%);
    background-image: -moz-linear-gradient(270deg,rgba(252,255,188,1.00) 0%,rgba(255,221,136,1.00) 39.03%,rgba(237,192,76,1.00) 61.31%,rgba(255,204,72,1.00) 78.41%,rgba(227,167,85,1.00) 97.24%);
    background-image: -o-linear-gradient(270deg,rgba(252,255,188,1.00) 0%,rgba(255,221,136,1.00) 39.03%,rgba(237,192,76,1.00) 61.31%,rgba(255,204,72,1.00) 78.41%,rgba(227,167,85,1.00) 97.24%);
    background-image: linear-gradient(180deg,rgba(252,255,188,1.00) 0%,rgba(255,221,136,1.00) 39.03%,rgba(237,192,76,1.00) 61.31%,rgba(255,204,72,1.00) 78.41%,rgba(227,167,85,1.00) 97.24%);
}
.piclayout {
    margin-left: 85px;
    font-size: xx-large;
}
.textbody {
    color: rgba(0,0,0,1.00);
    text-align: left;
    list-style-position: inside;
    -webkit-box-shadow: 0px 0px rgba(206,186,231,1.00);
    box-shadow: 0px 0px rgba(206,186,231,1.00);
    font-size: xx-large;
    font-family: aladin;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(228,210,250,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(201,222,231,1.00) 0%,rgba(214,203,239,1.00) 8.29%,rgba(163,206,222,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(201,222,231,1.00) 0%,rgba(214,203,239,1.00) 8.29%,rgba(163,206,222,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(201,222,231,1.00) 0%,rgba(214,203,239,1.00) 8.29%,rgba(163,206,222,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(201,222,231,1.00) 0%,rgba(214,203,239,1.00) 8.29%,rgba(163,206,222,1.00) 100.00%);
    border-bottom-color: rgba(82,189,108,1.00);
}
